a{
    text-decoration: none;
}

body{
    width: 100%;
    margin: auto;
  
}
/* 
body{
    background-image: url(../image/fon_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

header{
    background-color: hsla(0, 0%, 96%, .5);

    
}
.header{
    background-color: hsla(0, 0%, 96%, .5);;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
    text-align: center;
    padding-left: 14.4em;
    padding-right: 14.4em;
    padding-top: 14.4px;
    padding-bottom: 14.4px;
    align-items: center;
}
header{
    background: #f7f7f7;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

div.text_1{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.about_et{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 30px;
}

div.home_menu_text_1{

    display: flex;
    align-items: center;
}

div.home_menu_text_1 img{
    width: 100px;
}

div.home_menu_text_1 a{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: 0;
    position: relative;
    right: 0;
    color: black;
}


ul.we{
    display: flex;
    padding-left: 0;
}

div.home_menu_text_2 ul li{
    list-style: none;
    padding-left: 25px;
    font-size: 16px;
    font-family: sans-serif;
}

div.home_menu_text_2 ul li a:hover{
    color: black;
}


div.home_menu_text_2 ul li a{
    color: rgb(107, 105, 105);
}


div.search_icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    
    right: 20px;
    
}

.search_icon{
    margin-right: 10px;
}

div.search_2{
    width: 300px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(107, 107, 107);
    position: relative;
}

div.search_2 input{
    width: 100%;
    border:none;
    font-size: 15px;
    height: 100%;
    background: fixed;
    padding-left: 10px;
}

div.search_2 i {
    font-size: 20px;
    color: rgb(107, 107, 107);
}

div.icon{
    margin-left: 20px;
    display: flex;
}


div.icon i{
    font-size: 20px;
    margin-left: 10px;
}

div.search_2 i:hover{
    color: black;
}

div.search_2 i::after{
    border-style: none;
}





nav div.nav_bar{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 90px;
    padding-left: 12.4em;
    padding-right: 12.4em;
}

.bx-menu{
    display: none;
}

.nav_bar_price{
    width: 380px;
    height: auto;
    margin-top: 28px;
    box-shadow: .1px 1px 20px 0px rgb(236 230 230);
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    position: relative;
    background: white;
}

.nav_bar_price img{
    width: 100%;
    height: 300px;
    
}

div.price_net{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


div.price_net h2{
    font-size: 20px;
    font-family:'Rubik';font-size: 22px;
    font-weight:550;
    margin-bottom: 0;

}

.nav_bar_price h3{
    color: rgb(107, 105, 105);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.bxs-basket{
    width: 50px; 
    border: 1px solid rgb(188, 188, 188); 
    text-align: center; 
    border-radius: 5px; 
    position: absolute; bottom: 15px; 
    right: 10px; padding: 5px; 
    font-size: 20px; 
    color: rgb(103, 103, 103);
    transition: all .5s;
}

.bxs-basket:hover{
    color: white;
    background: rgb(247, 135, 6);
    box-shadow: 0 0 10px rgb(247, 135, 6);
    border-radius: none;
}

.bx-heart{
    border: 1px solid rgb(129, 128, 128); 
    border-radius: 50%; 
    padding: 5px; 
    position: absolute;
    right: 80px; 
    bottom: 15px; 
    font-size: 20px; 
    color: rgb(103, 103, 103);
    transition: all .5s;
}

.bx-heart:hover{
    background: rgba(255, 0, 0, 0.701);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.561);
    color: white;
}

.bx-share-alt{
    border: 1px solid rgb(129, 128, 128); 
    border-radius: 50%; 
    padding: 5px; 
    position: absolute;
    right: 120px; 
    bottom: 15px; 
    font-size: 20px; 
    color: rgb(103, 103, 103);
    transition: all .5s;
}

.bx-share-alt:hover{
    background: green;
    color: white;
    box-shadow: 0 0 10px green;
}


section{
    width: 100%;
    margin: auto;
    background-color: hsla(0, 0%, 96%, .5);
    background: #f7f7f7;
    margin-top: 100px;
}

div.section{
    padding-top: 40px;
    margin-right: 14.4em;
    margin-left: 14.4em;
    padding-bottom: 20px;
    padding-left: 10px;
}

div.section_2{
    display: flex;
    flex-wrap: nowrap;
}

div.search_text_1{
    width: 400px;
}

div.search_text_1 p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color:rgb(107, 105, 105) ;
}

div.search_text_1 h4{
    font-size: 14.6px;
    font-family: sans-serif;
    font-weight: 600;
    
}

div.section_3{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 70px;
    border-bottom: .4px solid #d3d4d8;
    padding-bottom: 10px;
}

div.section_3 p{
    font-size: 14.6px;
    font-weight: 500;
    color: rgb(107, 105, 105);
    font-family: sans-serif;
    margin-right: 6px;
    
}

div.section_3 select{
    width: 80px;
    height: 37px;
    border-radius: 7px;
    border: 1px solid #c0c1c4;
    color: rgb(107, 105, 105);
    padding-left: 13px;
}


div.section_4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

div.section_last_text_1 p{
    font-size: 14.6px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(107, 105, 105);
}

div.section_last_text_2{
    display: flex;
    align-items: center;
    font-size: 14.6px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(107, 105, 105);
}

div.section_last_text_2 i{
    font-size: 27px;
    margin-left: 4px;
    color: #afafaf;

}
.about_eco{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.eco{
    width: 500px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    font-family: sans-serif;
    background: white;
}

.img_map img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.first{
    padding-left: 20px;
    position: relative;
}

.map_type p{
    font-size: 20px;
    margin-bottom: 5px;
}

.otziv{
    color: #9d9d9e;
    margin-bottom: 30px;
}

.rayon{
    margin-top: 0;
}

.log{
    position: absolute;
    width: 120px;
    top: 80px;
    right: 50px;
}


.ins{
    display: flex;
    align-items: center;
}

.ins i{
    font-size: 20px;
    margin-right: 5px;
}

.whats:hover{
    width: 100px;
    color: green;
}

.instagram:hover{
    width: 100px;
    color: rgb(243, 50, 105);
}

.phone:hover{
    width: 200px;
    color: skyblue;
}

.name_text{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: sans-serif;
    color: #afafaf;
}

.icon_1_last{
    display: none;
}



label{
    display: none;
}

#butt{
    display: none;
}

.wef{
    display: none;
}

.op{
    font-size: 40px;
}


.sad{
    display: none;
}

.open-modal {
    width: 30px;
    height: 25px;
  background: #818282;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* Задний фон */
.modal {
  position: fixed;
  top: 0; 
    left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

/* Содержимое */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  height: auto;
  text-align: center;
    justify-content: center;
    text-decoration: double;
}

/* Чекбокс-хак */
#modal-toggle {
  display: none;
}

#modal-toggle:checked + .modal {
  display: flex;
}

.close-btn {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #0077cc;
}

@media only screen and (max-width: 600px) {
   /* body{
    background-image: url(../image/fon_2.jpg);
    background-repeat: repeat;
    width: 100%;
    background-size: cover;
   } */

    .header{
        margin: auto;
        padding: 0;
        padding-left: 6px;
    }

    .wef{
        display: flex;
        position: fixed;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        right: 0;
        top: -120vh;
        z-index: 200;
    }

    div.home_menu_text_2 ul{
        display: none;
    }

    div.home_menu_text_2 ul li{
        margin-bottom: 10px;
    }

    label{
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
    }

    label::after, label::before, label span{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        right: 0;
        transition: .3s;
    }

    label::before{
        content: "";
        top: 0;
    }
    label::after{
        content: "";
        bottom: 0;
    }

    label span{
        top: 11px;
    }


    #butt:checked ~ label::after{
        transform: rotate(45deg);
        bottom: 10px;
    }

    #butt:checked ~ label::before{
        transform: rotate(-45deg);
        top: 12px;
    }
    
    #butt:checked ~ label span{
        transform: rotate(-45deg);
        top: 12px;
    }

    #butt:checked ~ .wef{
        position: relative;
        margin-top: 100px;
        color: black;
        top: 100px;
    }

    div.search_2{
        display: none;
    }

    div.search_2 .add{
        display: none;
    }

    .icon_1_last{
        display: flex;
        position: absolute;
        align-items: center;
        right: 0;
    }

    .icon_1_last i{
        font-size: 22px;
        margin-left: 5px;
    }

    .icon_1_last #butt{
        padding:10px;
        background: #afafaf;
        padding: 27px 20px;
        margin-right: 0;
        color: white;
        margin-left: 10px;
        font-size: 35px;
    }

    .icon_1_last i.das_3:after ~ div.home_menu_text_2 ul{
        right: 100px;
    }

    .bx-menu{
        display: block;
        
    }

    div.search_icon{
        display: none;
    }




    div.search_2 i{
        display: none;

    }
    nav div.nav_bar{
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav_bar_price{
        max-width: 500px;
        margin: auto;
        margin-top: 28px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .nav_bar_price img {
        max-width: 500px;
        margin: auto;
        
    }
    .nav_bar a{
        max-width: 500px;
        margin: auto;
    }

    div.section{
        margin: 0;
    }
    
    .log{
        display: none;
    }

    .see{
        display: none;
    }

    .op{
        font-size: 20px;
    }

    .sad{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sad a{
        color: black;
        font-family: sans-serif;
        margin-bottom: 10px;
    }


}

