a{
    text-decoration: none;
}

body{
    width: 100%;
    margin: auto;
  
}
/* 
body{
    background-image: url(../image/fon_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

header{
    background-color: hsla(0, 0%, 96%, .5);  
}

header{
    background: #f7f7f7;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

div.text_1{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.about_et{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 30px;
}

div.home_menu_text_1{

    display: flex;
    align-items: center;
}

div.home_menu_text_1 img{
    width: 100px;
}

div.home_menu_text_1 a{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: 0;
    position: relative;
    right: 0;
    color: black;
}


ul.we{
    display: flex;
    padding-left: 0;
}

div.home_menu_text_2 ul li{
    list-style: none;
    padding-left: 25px;
    font-size: 16px;
    font-family: sans-serif;
}

div.home_menu_text_2 ul li a:hover{
    color: black;
}


div.home_menu_text_2 ul li a{
    color: rgb(107, 105, 105);
}


div.search_icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    
    right: 20px;
    
}

.search_icon{
}

div.search_2{
    width: 300px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(107, 107, 107);
    position: relative;
}

div.search_2 input{
    width: 100%;
    border:none;
    font-size: 15px;
    height: 100%;
    background: fixed;
    padding-left: 10px;
}

div.search_2 i {
    font-size: 20px;
    color: rgb(107, 107, 107);
}

div.icon{
    margin-left: 20px;
    display: flex;
}


div.icon i{
    font-size: 20px;
    margin-left: 10px;
}

div.search_2 i:hover{
    color: black;
}

div.search_2 i::after{
    border-style: none;
}

eeeee

